Repository husamql3/pstrack: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt

oxlint:
  run: bunx oxlint --fix {staged_files} && git add {staged_files}

oxfmt:
  run: bunx oxfmt --write {staged_files} && git add {staged_files}

fix(ci): expose Docker build digest output
  .github/workflows/ci.yml
Due: none

Auto PR: stage -> main (#313)
  .github/workflows/ci.yml
Due: none

fix(email): SMTP on 465 (implicit TLS) + accept Stalwart self-signed cert
  .env.example
  src/env.ts
  src/server/lib/email.ts
Due: oxlint, oxfmt

fix(env): restore VITE_POSTHOG_* client vars after stage merge
  src/env.ts
Due: oxlint, oxfmt

release: stage → main (#314)
  .env.example
  src/env.ts
  src/server/lib/email.ts
Due: oxlint, oxfmt

fix(ci): prevent optional uploads from failing releases
  .github/workflows/ci.yml
Due: none

fix(ci): prevent optional uploads from failing releases (#315)
  .github/workflows/ci.yml
Due: none

release: stage → main (#314) (#316)
  .github/workflows/ci.yml
Due: none

fix(deploy): retry transient Coolify API failures
  scripts/deploy-coolify.ts
  src/server/lib/deploy-coolify.test.ts
Due: oxlint, oxfmt

fix(deploy): retry transient Coolify API failures (#317)
  scripts/deploy-coolify.ts
  src/server/lib/deploy-coolify.test.ts
Due: oxlint, oxfmt

fix: use PAT for auto PR workflow
  .github/workflows/auto-pr.yml
  docs/agdr/AgDR-0003-auto-pr-stage-to-main.md
Due: oxfmt

Fix auto PR workflow token (#318)
  .github/workflows/auto-pr.yml
  docs/agdr/AgDR-0003-auto-pr-stage-to-main.md
Due: oxfmt

fix: soften auto PR token failures
  .github/workflows/auto-pr.yml
  docs/agdr/AgDR-0003-auto-pr-stage-to-main.md
Due: oxfmt

fix: soften auto PR token failures (#320)
  .github/workflows/auto-pr.yml
  docs/agdr/AgDR-0003-auto-pr-stage-to-main.md
Due: oxfmt

release (#319)
  .github/workflows/auto-pr.yml
  docs/agdr/AgDR-0003-auto-pr-stage-to-main.md
  scripts/deploy-coolify.ts
  src/server/lib/deploy-coolify.test.ts
Due: oxlint, oxfmt

feat(redis): complete self-hosted Redis migration on Bun native client (#288)
  .env.example
  .github/workflows/ci.yml
  AGENTS.md
  Dockerfile
  bun.lock
  docs/STAGING.md
  docs/adr/0011-bun-runtime-and-native-redis-client.md
  docs/adr/0012-branch-mapped-production-and-staging-domains.md
  docs/stack.md
  package.json
  scripts/sync-vercel.ts
  scripts/verify-redis.ts
  src/env.ts
  src/server/lib/redis.test.ts
  src/server/lib/redis.ts
  vite.config.ts
Due: oxlint, oxfmt

fix(test): narrow smoke fetcher contract
  scripts/smoke-http.ts
  src/test/smoke-http.test.ts
Due: oxlint, oxfmt

fix(docker): include Resvg runtime dependency
  Dockerfile
  docs/adr/0011-bun-runtime-and-native-redis-client.md
Due: oxfmt

fix(deploy): gate and smoke Bun Redis runtime
  .github/workflows/ci.yml
  Dockerfile
  docs/adr/0005-husam-bot-telegram-admin-notifications.md
  scripts/smoke-prod.ts
Due: oxlint, oxfmt

fix(security): add report-only response headers (#292)
  src/routeTree.gen.ts
  src/server/app.ts
  src/server/lib/security-headers.ts
  src/server/stress/api.stress.integration.test.ts
  src/start.ts
Due: oxlint, oxfmt

feat(runtime): run app image as numeric non-root user (#291)
  Dockerfile
Due: none

feat(ops): measure container resource baseline (#291)
  .gitignore
  docs/RUNTIME_HARDENING.md
  package.json
  scripts/measure-container-resources.ts
  src/test/container-resource-measurement.test.ts
Due: oxlint, oxfmt

fix(email): redact delivery logs (#289)
  src/server/jobs/jobs.service.test.ts
  src/server/jobs/jobs.service.ts
  src/server/lib/email.test.ts
  src/server/lib/email.ts
  src/server/lib/magic-link-email.test.ts
  src/server/lib/magic-link-email.ts
Due: oxlint, oxfmt

fix(security): collect sanitized CSP reports (#292)
  src/server/app.ts
  src/server/lib/security-headers.ts
  src/server/lib/sentry.ts
  src/server/security/security.controller.ts
  src/server/security/security.model.ts
  src/server/security/security.service.ts
  src/server/security/security.type.test.ts
  src/server/security/security.type.ts
  src/server/security/security.utils.ts
  src/server/stress/api.stress.integration.test.ts
  src/server/stress/manifest.stress.integration.test.ts
  src/test/stress-manifest.ts
Due: oxlint, oxfmt

feat(staging): add guarded reset and seed verification (#287)
  .gitignore
  docs/STAGING.md
  package.json
  prisma/seed-daily-problems.ts
  scripts/lib/staging-seed-evidence.ts
  scripts/reset-staging.ts
  src/test/reset-staging.test.ts
Due: oxlint, oxfmt

fix(runtime): verify hardened OG rendering (#291)
  Dockerfile
  scripts/measure-container-resources.ts
  scripts/smoke-prod.ts
  src/test/container-resource-measurement.test.ts
Due: oxlint, oxfmt

fix(ci): start Redis with authentication (#288)
  .github/workflows/ci.yml
Due: none

fix(ci): enforce Redis outage deadline (#288)
  scripts/verify-redis.ts
Due: oxlint, oxfmt

fix(ci): terminate Redis verifier cleanly (#288)
  scripts/verify-redis.ts
Due: oxlint, oxfmt

feat(redis): complete native self-hosted Redis migration (#324)
  .env.example
  .github/workflows/ci.yml
  AGENTS.md
  Dockerfile
  bun.lock
  docs/STAGING.md
  docs/adr/0005-husam-bot-telegram-admin-notifications.md
  docs/adr/0011-bun-runtime-and-native-redis-client.md
  docs/adr/0012-branch-mapped-production-and-staging-domains.md
  docs/stack.md
  package.json
  scripts/smoke-http.ts
  scripts/smoke-prod.ts
  scripts/sync-vercel.ts
  scripts/verify-redis.ts
  src/env.ts
  src/server/lib/redis.test.ts
  src/server/lib/redis.ts
  src/test/smoke-http.test.ts
  vite.config.ts
Due: oxlint, oxfmt

feat(staging): add guarded reset and seed verification (#287) (#325)
  .gitignore
  docs/STAGING.md
  package.json
  prisma/seed-daily-problems.ts
  scripts/lib/staging-seed-evidence.ts
  scripts/reset-staging.ts
  src/test/reset-staging.test.ts
Due: oxlint, oxfmt

fix(security): add report-only browser security policy (#322)
  src/routeTree.gen.ts
  src/server/app.ts
  src/server/lib/security-headers.ts
  src/server/lib/sentry.ts
  src/server/security/security.controller.ts
  src/server/security/security.model.ts
  src/server/security/security.service.ts
  src/server/security/security.type.test.ts
  src/server/security/security.type.ts
  src/server/security/security.utils.ts
  src/server/stress/api.stress.integration.test.ts
  src/server/stress/manifest.stress.integration.test.ts
  src/start.ts
  src/test/stress-manifest.ts
Due: oxlint, oxfmt

fix(email): redact delivery logs (#289) (#323)
  src/server/jobs/jobs.service.test.ts
  src/server/jobs/jobs.service.ts
  src/server/lib/email.test.ts
  src/server/lib/email.ts
  src/server/lib/magic-link-email.test.ts
  src/server/lib/magic-link-email.ts
Due: oxlint, oxfmt

feat(runtime): add non-root isolation and resource evidence (#321)
  .gitignore
  Dockerfile
  docs/RUNTIME_HARDENING.md
  scripts/measure-container-resources.ts
  src/test/container-resource-measurement.test.ts
Due: oxlint, oxfmt

feat(pro): email users after admin Pro grants
  src/emails/pro-unlocked-by-admin.tsx
  src/server/admin/admin.emails.ts
  src/server/users/users.admin.controller.ts
  src/server/users/users.admin.dao.test.ts
  src/server/users/users.admin.dao.ts
  src/server/users/users.admin.notifications.test.ts
  src/server/users/users.admin.notifications.ts
Due: oxlint, oxfmt

feat(pro): email users after admin Pro grants (#326)
  src/emails/pro-unlocked-by-admin.tsx
  src/server/admin/admin.emails.ts
  src/server/users/users.admin.controller.ts
  src/server/users/users.admin.dao.test.ts
  src/server/users/users.admin.dao.ts
  src/server/users/users.admin.notifications.test.ts
  src/server/users/users.admin.notifications.ts
Due: oxlint, oxfmt

fix(deploy): use valid Coolify image and environment payloads
  scripts/deploy-coolify.ts
Due: oxlint, oxfmt

Auto PR: stage -> main (#328)
  scripts/deploy-coolify.ts
Due: oxlint, oxfmt

fix(ci): publish images for Coolify pipeline changes
  .github/workflows/ci.yml
Due: none

Path conditions:
  oxlint: any of: **/*.{ts,tsx,js,jsx}
  oxfmt: any of: **/*.{ts,tsx,js,jsx,json,md}
