Repository husamql3/pstrack: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt

oxlint:
  run: bunx oxlint --fix {staged_files} && git add {staged_files}

oxfmt:
  run: bunx oxfmt --write {staged_files} && git add {staged_files}

fix(db): dedup PointsHistory before unique (userSolveId, reason) index (#252)
  prisma/migrations/20260707000001_points_history_unique_solve_reason/migration.sql
Due: none

chore(#251): drop unused @magicui confetti component
  src/components/ui/confetti.tsx
Due: oxlint, oxfmt

fix(#251): correct Pro pause count on /success (4/mo, not 5)
  src/routes/success.tsx
Due: oxlint, oxfmt

refactor(#251): use tabler icons for Pro feature list (not emojis)
  src/routes/success.tsx
Due: oxlint, oxfmt

update fireworks style
  src/routes/success.tsx
Due: oxlint, oxfmt

merge docker workflow into ci
  .github/workflows/ci.yml
  .github/workflows/docker-image.yml
Due: none

merge docker workflow into ci (#254)
  .github/workflows/ci.yml
  .github/workflows/docker-image.yml
Due: none

feat: add Settings Plan tab with Pro upgrade
  AGENTS.md
  docs/FREEMIUM_MODEL.md
  src/features/leaderboard/components/leaderboard-page.tsx
  src/features/settings/components/plan/plan-section.tsx
  src/features/settings/components/plan/upgrade-button.tsx
  src/features/settings/constants.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/_app/settings/plan.tsx
Due: oxlint, oxfmt

feat: add Settings Plan tab with Pro upgrade (#256)
  AGENTS.md
  docs/FREEMIUM_MODEL.md
  src/features/leaderboard/components/leaderboard-page.tsx
  src/features/settings/components/plan/plan-section.tsx
  src/features/settings/components/plan/upgrade-button.tsx
  src/features/settings/constants.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/_app/settings/plan.tsx
Due: oxlint, oxfmt

feat(#251): celebratory /success redesign — brand confetti + Pro perks (#253)
  src/routes/success.tsx
Due: oxlint, oxfmt

sync production env vars to github
  scripts/env-sync.ts
  scripts/sync-env.ts
  scripts/sync-gh.ts
  scripts/sync-trigger.ts
Due: oxlint, oxfmt

sync production env vars to GitHub (#257)
  scripts/env-sync.ts
  scripts/sync-env.ts
  scripts/sync-gh.ts
  scripts/sync-trigger.ts
Due: oxlint, oxfmt

fix: redirect pro checkout to Polar
  src/features/settings/components/account/pro-plan-section.tsx
  src/features/settings/lib/pro-checkout.test.ts
  src/features/settings/lib/pro-checkout.ts
  src/routes/_authenticated/_app/settings/account.tsx
Due: oxlint, oxfmt

fix: redirect pro checkout to Polar (#260)
  src/features/settings/components/account/pro-plan-section.tsx
  src/features/settings/lib/pro-checkout.test.ts
  src/features/settings/lib/pro-checkout.ts
  src/routes/_authenticated/_app/settings/account.tsx
Due: oxlint, oxfmt

fix(#255): read Polar product id from env instead of hardcoding
  .env.example
  src/env.ts
  src/server/lib/auth.ts
Due: oxlint, oxfmt

feat(#255): Settings → Plan tab + fix hardcoded Polar product id (#261)
  .env.example
  src/env.ts
  src/server/lib/auth.ts
Due: oxlint, oxfmt

Update Pro price references to $5
  docs/DECISIONS.md
  docs/POINTS.md
  docs/README.md
  docs/SEO-STRATEGY.md
  docs/timeline.md
  public/llms.txt
  src/content/how-it-works.mdx
  src/routes/about.tsx
  src/routes/index.tsx
Due: oxlint, oxfmt

fix better-auth security advisory
  bun.lock
  package.json
Due: none

fix profile route client navigation crash
  src/routes/$username.tsx
Due: oxlint, oxfmt

docs: define stage branching workflow
  AGENTS.md
  docs/BRANCHING.md
Due: oxfmt

fix profile route client navigation crash (#264)
  src/routes/$username.tsx
Due: oxlint, oxfmt

fix better-auth security advisory (#263)
  bun.lock
  package.json
Due: none

Update Pro price references to $5 (#262)
  docs/DECISIONS.md
  docs/POINTS.md
  docs/README.md
  docs/SEO-STRATEGY.md
  docs/timeline.md
  public/llms.txt
  src/content/how-it-works.mdx
  src/routes/about.tsx
  src/routes/index.tsx
Due: oxlint, oxfmt

ci(#265): auto-PR workflow for stage → main
  .github/workflows/auto-pr.yml
  docs/agdr/AgDR-0003-auto-pr-stage-to-main.md
Due: oxfmt

ci(#265): auto-PR workflow for stage → main (#266)
  .github/workflows/auto-pr.yml
  docs/agdr/AgDR-0003-auto-pr-stage-to-main.md
Due: oxfmt

ci: verify stage without auto pr
  .github/workflows/auto-pr.yml
  .github/workflows/ci.yml
  docs/agdr/AgDR-0003-auto-pr-stage-to-main.md
Due: oxfmt

ci: restore auto pr workflow
  .github/workflows/auto-pr.yml
  docs/agdr/AgDR-0003-auto-pr-stage-to-main.md
Due: oxfmt

chore: deploy production through coolify
  .github/workflows/ci.yml
  CONTEXT.md
  docs/adr/0006-hourly-encrypted-database-backups.md
  docs/adr/0007-prebuilt-ghcr-images-for-coolify-deployments.md
  docs/adr/0008-amd64-production-container-target.md
  docs/adr/0009-trigger-cloud-dispatches-private-app-jobs.md
  docs/adr/0010-job-run-ledger-for-internal-jobs.md
  docs/adr/0011-bun-runtime-and-native-redis-client.md
  docs/adr/0012-branch-mapped-production-and-staging-domains.md
Due: oxfmt

chore(deploy): migrate production tooling to Coolify
  Dockerfile
  bun.lock
  docs/README.md
  docs/SEO-STRATEGY.md
  docs/adr/0012-branch-mapped-production-and-staging-domains.md
  docs/stack.md
  package.json
  scripts/sync-coolify.ts
  scripts/sync-env.ts
  src/routes/__root.tsx
Due: oxlint, oxfmt

fix(ci): deploy to Coolify via API
  .github/workflows/ci.yml
Due: none

improve vercel request logs
  src/server/lib/logger.ts
Due: oxlint, oxfmt

improve vercel request logs (#270)
  src/server/lib/logger.ts
Due: oxlint, oxfmt

fix auth origin for www domain
  src/server/lib/auth.ts
Due: oxlint, oxfmt

fix auth origin for www domain (#272)
  src/server/lib/auth.ts
Due: oxlint, oxfmt

fix(deploy): add container HEALTHCHECK for zero-downtime Coolify deploys
  Dockerfile
Due: none

fix(deploy): add container HEALTHCHECK for zero-downtime Coolify deploys (#273)
  Dockerfile
Due: none

feat(#241): Pro visual identity — animated badge + gold avatar treatment
  DESIGN.md
  src/components/ui/pro-badge.tsx
  src/components/user-menu.tsx
  src/features/groups/components/group-problems-header-cell.tsx
  src/features/leaderboard/components/leaderboard-row.tsx
  src/features/onboarding/components/hash-avatar.tsx
  src/features/profile/components/public-profile.tsx
Due: oxlint, oxfmt

feat(#241): Pro visual identity — animated badge + gold avatar treatment (#275)
  DESIGN.md
  src/components/ui/pro-badge.tsx
  src/components/user-menu.tsx
  src/features/groups/components/group-problems-header-cell.tsx
  src/features/leaderboard/components/leaderboard-row.tsx
  src/features/onboarding/components/hash-avatar.tsx
  src/features/profile/components/public-profile.tsx
Due: oxlint, oxfmt

feat(email): self-host transactional email via Postal (direct send)
  .env.example
  AGENTS.md
  docs/adr/0001-self-hosted-vps-deployment.md
  docs/adr/0013-self-hosted-email-postal.md
  docs/stack.md
  src/env.ts
  src/server/admin/admin.controller.ts
  src/server/groups/groups.notifications.ts
  src/server/lib/auth.ts
  src/server/lib/email.ts
  src/server/lib/magic-link-email.ts
  src/server/lib/pro.ts
  src/server/lib/redis.ts
  src/server/problems/problems.notifications.ts
  src/server/trigger/send-daily-digest-batch.ts
  src/server/trigger/trigger.test.ts
Due: oxlint, oxfmt

Path conditions:
  oxlint: any of: **/*.{ts,tsx,js,jsx}
  oxfmt: any of: **/*.{ts,tsx,js,jsx,json,md}
