Repository husamql3/pstrack: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    oxlint:
      tags: frontend style
      glob: "**/*.{ts,tsx,js,jsx}"
      run: bunx oxlint --fix {staged_files} && git add {staged_files}

    oxfmt:
      tags: frontend style
      glob: "**/*.{ts,tsx,js,jsx,json,md}"
      run: bunx oxfmt --write {staged_files} && git add {staged_files}

    typecheck:
      tags: backend frontend
      run: bun turbo run check-types --filter=[origin/main..HEAD]

pre-push:
  parallel: true
  commands:
    build:
      tags: ci build
      run: bun turbo run build --filter=[origin/main..HEAD]

    typecheck-full:
      tags: ci types
      run: bun turbo run check-types

    audit:
      tags: ci audit
      run: bun audit --audit-level=high --prod

    # TODO
    # test:
    #   run: bun turbo run test --filter=[origin/main..HEAD]
# TODO
# commit-msg:
#   commands:
#     conventional:
#       run: bunx commitlint --edit {1} # @commitlint/cli

init supabse
  bun.lock
  docs/timeline.md
  packages/db/package.json
  packages/env/.gitignore
  packages/env/src/server.ts
  packages/storage/.gitignore
  packages/storage/package.json
  packages/storage/src/connect.ts
  packages/storage/tsconfig.json
Due: oxlint, oxfmt

init redis
  bun.lock
  docs/stack.md
  packages/env/src/server.ts
  packages/realtime/package.json
  packages/realtime/src/client.ts
  packages/realtime/tsconfig.json
  packages/storage/src/client.ts
Due: oxlint, oxfmt

Enhance server configuration and scripts; add shared package with TypeScript support. Update dependencies and scripts for environment management and Cloudflare integration.
  apps/server/package.json
  apps/server/scripts/copy-env.sh
  apps/server/src/index.ts
  apps/server/worker-configuration.d.ts
  apps/server/wrangler.toml
  apps/web/package.json
  bun.lock
  docs/timeline.md
  lefthook.yml
  package.json
  packages/env/package.json
  packages/env/src/server.ts
  packages/env/wrangler.toml
  packages/realtime/package.json
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/tsconfig.json
  turbo.json
Due: oxlint, oxfmt

Add Sentry error tracking and update server configuration; enhance TypeScript paths and dependencies
  apps/server/package.json
  apps/server/src/config/sentry.ts
  apps/server/src/index.ts
  apps/server/tsconfig.json
  apps/server/worker-configuration.d.ts
  bun.lock
  docs/timeline.md
  package.json
Due: oxlint, oxfmt

update timeline
  docs/timeline.md
  lefthook.yml
  packages/env/.gitignore
Due: oxfmt

add logo
  assets/logo.png
Due: none

add wrangler
  apps/server/package.json
  bun.lock
  package.json
Due: oxfmt

Refactor secrets management in configuration files; rename 'secrets:bulk' to 'secrets:push' across lefthook, package.json, turbo.json, and env package for consistency and clarity.
  lefthook.yml
  package.json
  packages/env/package.json
  turbo.json
Due: oxfmt

work w/ .env.production on prod env
  .agents/skills/wrangler/SKILL.md
  apps/server/.gitignore
  apps/server/wrangler.toml
  apps/web/.gitignore
  docs/timeline.md
  package.json
  packages/env/package.json
  packages/env/wrangler.toml
  scripts/copy-env.sh
Due: oxfmt

add --env to scripts
  apps/server/package.json
Due: oxfmt

resolves #213, #214
  apps/server/worker-configuration.d.ts
  apps/web/src/routeTree.gen.ts
Due: oxlint, oxfmt

resolves #214
  docs/timeline.md
Due: oxfmt

update
  apps/server/package.json
  apps/server/src/lib/auth.ts
  apps/web/package.json
  apps/web/src/lib/auth.ts
  apps/web/src/router.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/dashboard.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/login.tsx
  bun.lock
  packages/db/src/migrations/0001_secret_bedlam.sql
  packages/db/src/migrations/0002_lowly_ender_wiggin.sql
  packages/db/src/migrations/0003_good_eddie_brock.sql
  packages/db/src/migrations/0004_left_lorna_dane.sql
  packages/db/src/migrations/0005_military_slipstream.sql
  packages/db/src/migrations/0006_naive_frank_castle.sql
  packages/db/src/migrations/meta/0001_snapshot.json
  packages/db/src/migrations/meta/0002_snapshot.json
  packages/db/src/migrations/meta/0003_snapshot.json
  packages/db/src/migrations/meta/0004_snapshot.json
  packages/db/src/migrations/meta/0005_snapshot.json
  packages/db/src/migrations/meta/0006_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/schema.ts
Due: oxlint, oxfmt

rm turbo
  .gitignore
  lefthook.yml
Due: none

init
  .gitignore
  .oxfmtrc.json
  .oxlintrc.json
  TODO.md
  package.json
  src/db/index.ts
  wrangler.toml
Due: oxlint, oxfmt

update env.ts
  .env.development
  .env.production
  .gitignore
  package.json
  src/env.ts
  src/routes/index.tsx
  vite.config.ts
  worker-configuration.d.ts
Due: oxlint, oxfmt

fix .env accessing
  .gitignore
  src/env.ts
  src/routes/index.tsx
  tsconfig.json
  worker-configuration.d.ts
Due: oxlint, oxfmt

test auth
  bun.lock
  package.json
  src/auth/auth-client.ts
  src/auth/index.ts
  src/env.ts
  src/middleware/auth.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/api/auth/$.ts
  src/routes/dashboard.tsx
  src/routes/index.tsx
  src/routes/login.tsx
  tsconfig.json
  vite.config.ts
  worker-configuration.d.ts
Due: oxlint, oxfmt

auth
  TODO.md
  package.json
  src/auth/index.ts
  src/hooks/use-auth.ts
  src/lib/constants.ts
  src/middleware/auth.ts
  src/middleware/permissions.ts
  src/routes/__root.tsx
  src/routes/dashboard.tsx
  src/routes/login.tsx
  src/types/auth.types.ts
  vite.config.ts
Due: oxlint, oxfmt

deploy api
  .oxfmtrc.json
  apps/api/src/index.ts
Due: oxlint, oxfmt

fix deploy
  apps/api/package.json
  apps/api/src/index.ts
  bun.lock
Due: oxlint, oxfmt

fix deploy
  apps/api/src/index.ts
  turbo.json
Due: oxlint, oxfmt

fix @env
  apps/api/src/env.ts
Due: oxlint, oxfmt

use tsdown
  apps/api/package.json
  apps/api/src/tsdown.config.ts
  bun.lock
Due: oxlint, oxfmt

rm tsup
  apps/api/package.json
  apps/api/src/tsdown.config.ts
Due: oxlint, oxfmt

mv tsdown
  apps/api/tsdown.config.ts
Due: oxlint, oxfmt

fix tsdown
  apps/api/tsdown.config.ts
Due: oxlint, oxfmt

migrate to tsup
  apps/api/package.json
  apps/api/tsdown.config.ts
  apps/api/tsup.config.ts
  bun.lock
  turbo.json
Due: oxlint, oxfmt

yarab
  apps/api/nixpacks.toml
  apps/api/package.json
  apps/api/tsdown.config.ts
  apps/api/tsup.config.ts
  bun.lock
  package.json
Due: oxlint, oxfmt

fix tsdown config
  apps/api/tsdown.config.ts
Due: oxlint, oxfmt

fix loading .env
  apps/api/package.json
  apps/api/src/env.ts
Due: oxlint, oxfmt

migrate to CranL
  apps/api/src/index.ts
Due: oxlint, oxfmt

check db connection
  apps/api/src/index.ts
  apps/api/src/lib/db-health.ts
  apps/api/src/utils/create-app.ts
Due: oxlint, oxfmt

init client
  .agents/skills/better-auth-best-practices/SKILL.md
  .agents/skills/create-auth-skill/SKILL.md
  TODO.md
  apps/api/package.json
  apps/api/src/env.ts
  apps/api/src/index.ts
  apps/api/src/lib/sentry.ts
  apps/api/src/utils/create-app.ts
  apps/web/.cta.json
  apps/web/.gitignore
  apps/web/README.md
  apps/web/components.json
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/public/manifest.json
  apps/web/src/components/component-example.tsx
  apps/web/src/components/example.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/combobox.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/field.tsx
  apps/web/src/components/ui/input-group.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/lib/utils.ts
  apps/web/src/router.tsx
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/styles.css
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  bun.lock
Due: oxlint, oxfmt

Add Supabase and Upstash Redis integration, implement API server, and enhance database schema
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/db/index.ts
  apps/api/src/db/schema.ts
  apps/api/src/env.ts
  apps/api/src/index.ts
  apps/api/src/lib/auth.ts
  apps/api/src/lib/cache/client.ts
  apps/api/src/lib/cache/keys.ts
  apps/api/src/lib/data/raodmap-leetcode.csv
  apps/api/src/lib/storage/client.ts
  apps/api/src/middlewares/admin.middleware.ts
  apps/api/src/repositories/group.repository.ts
  apps/api/src/repositories/problem.repository.ts
  apps/api/src/routes/index.ts
  apps/api/src/services/group.service.ts
  apps/api/src/types/app.type.ts
  apps/api/src/types/group.type.ts
  apps/api/src/utils/create-app.ts
  bun.lock
  docs/timeline.md
Due: oxlint, oxfmt

we're gonna start again
  apps/api/.gitignore
  apps/api/package.json
  apps/api/prisma.config.ts
  apps/api/prisma/migrations/20260214114841_init/migration.sql
  apps/api/prisma/migrations/20260214120430_init/migration.sql
  apps/api/prisma/migrations/20260214121519_init/migration.sql
  apps/api/prisma/migrations/20260214122534_init/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
  apps/api/src/app.ts
  apps/api/src/controllers/problem.controller.ts
  apps/api/src/db/index.ts
  apps/api/src/db/reset.ts
  apps/api/src/db/schema.ts
  apps/api/src/env.ts
  apps/api/src/lib/auth.ts
  apps/api/src/lib/cache/keys.ts
  apps/api/src/lib/db-health.ts
  apps/api/src/lib/validator.ts
  apps/api/src/middlewares/logger.ts
  apps/api/src/migrations/0000_busy_the_watchers.sql
  apps/api/src/migrations/0001_hot_enchantress.sql
  apps/api/src/migrations/meta/0000_snapshot.json
  apps/api/src/migrations/meta/0001_snapshot.json
  apps/api/src/migrations/meta/_journal.json
  apps/api/src/repositories/group.repository.ts
  apps/api/src/repositories/problem.repository.ts
  apps/api/src/routes/problem.route.ts
  apps/api/src/services/problem.service.ts
  apps/api/src/types/problem.type.ts
  apps/api/src/utils/create-app.ts
  bun.lock
  package.json
  turbo.json
Due: oxlint, oxfmt
