Repository husamql3/pstrack: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt

oxlint:
  run: bunx oxlint --fix {staged_files} && git add {staged_files}

oxfmt:
  run: bunx oxfmt --write {staged_files} && git add {staged_files}

update docs
  docs/README.md
  docs/architecture.md
  docs/stack.md
  docs/timeline.md
Due: oxfmt

update docs
  AGENTS.md
  CLAUDE.md
  docs/schema.md
  docs/timeline.md
Due: oxfmt

init
  .cta.json
  .gitignore
  README.md
  biome.json
  bun.lock
  components.json
  package.json
  public/favicon.ico
  public/manifest.json
  public/robots.txt
  src/components/ui/button.tsx
  src/lib/utils.ts
  src/logo.svg
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
  src/styles.css
  tsconfig.json
  vite.config.ts
Due: oxlint, oxfmt

Update dependencies in package.json and bun.lock, add Lefthook and Knip for pre-commit hooks and unused code detection, and enhance route handling with new API splat route with elysia
  bun.lock
  docs/timeline.md
  knip.jsonc
  lefthook.yml
  package.json
  src/env.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/api.$.ts
  src/server/app.ts
Due: oxlint, oxfmt

Update .gitignore, enhance Prisma setup in package.json, and add Sentry integration for error tracking in server. Remove freemium model documentation and update timeline tasks.
  .gitignore
  biome.json
  bun.lock
  docs/FREEMIUM_MODEL.md
  docs/timeline.md
  generated/prisma/browser.ts
  generated/prisma/client.ts
  generated/prisma/commonInputTypes.ts
  generated/prisma/enums.ts
  generated/prisma/internal/class.ts
  generated/prisma/internal/prismaNamespace.ts
  generated/prisma/internal/prismaNamespaceBrowser.ts
  generated/prisma/models.ts
  knip.jsonc
  package.json
  prisma.config.ts
  prisma/schema.prisma
  src/env.ts
  src/lib/api.ts
  src/lib/sentry.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
  src/server/app.ts
  src/server/lib/db.ts
  src/server/lib/sentry.ts
  tsconfig.json
Due: oxlint, oxfmt

Add GitHub Actions CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/timeline.md
Due: oxfmt

Add health check endpoint with DB connectivity check
  generated/prisma/browser.ts
  generated/prisma/client.ts
  generated/prisma/commonInputTypes.ts
  generated/prisma/internal/class.ts
  generated/prisma/internal/prismaNamespace.ts
  src/lib/sentry.ts
  src/server/app.ts
  src/server/lib/sentry.ts
  src/server/modules/health.ts
Due: oxlint, oxfmt

Add vitest config and health endpoint tests
  src/server/modules/health.test.ts
  vitest.config.ts
Due: oxlint, oxfmt

Stop tracking generated Prisma client
  .gitignore
  generated/prisma/browser.ts
  generated/prisma/client.ts
  generated/prisma/commonInputTypes.ts
  generated/prisma/enums.ts
  generated/prisma/internal/class.ts
  generated/prisma/internal/prismaNamespace.ts
  generated/prisma/internal/prismaNamespaceBrowser.ts
  generated/prisma/models.ts
Due: oxlint, oxfmt

Run biome format on all files in pre-commit hook
  lefthook.yml
Due: none

Use ts-nocheck in test files, fix CI test command
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/server/modules/health.test.ts
Due: oxlint, oxfmt

Make knip informational-only in CI (--no-exit-code)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Update authentication flow and dependencies
  AGENTS.md
  bun.lock
  docs/timeline.md
  package.json
  prisma.config.ts
  prisma/migrations/20260521174125_auth_schema/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/components/ui/spinner.tsx
  src/emails/magic-link.tsx
  src/emails/welcome.tsx
  src/env.ts
  src/lib/auth-client.ts
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/_authenticated.tsx
  src/routes/_authenticated/admin.tsx
  src/routes/_authenticated/dashboard.tsx
  src/routes/_authenticated/onboarding.tsx
  src/routes/login.tsx
  src/server/app.ts
  src/server/lib/auth.ts
  src/server/lib/email.ts
  src/server/lib/polar.ts
  src/server/modules/docs.ts
Due: oxlint, oxfmt

feat(auth): build login page UI and improve dev setup
  bun.lock
  components.json
  docs/timeline.md
  package.json
  src/components/auth-divider.tsx
  src/components/auth-page.tsx
  src/components/icons/github-icon.tsx
  src/components/icons/google-icon.tsx
  src/components/logo.tsx
  src/components/ui/button.tsx
  src/components/ui/input-group.tsx
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
  src/env.ts
  src/lib/auth-client.ts
  src/routes/__root.tsx
  src/routes/_authenticated.tsx
  src/routes/login.tsx
Due: oxlint, oxfmt

enhance(ui): add light/dark favicons and polish auth page
  public/favicon-dark.ico
  public/favicon-light.ico
  public/favicon.ico
  public/logo-dark.png
  public/logo-light.png
  public/manifest.json
  src/components/auth-page.tsx
  src/components/ui/input.tsx
  src/routes/__root.tsx
Due: oxlint, oxfmt

enhance(auth): simplify magic-link flow and fix auth routing
  src/components/auth-page.tsx
  src/server/app.ts
  src/styles.css
Due: oxlint, oxfmt

feat(routing): introduce _app layout shell with animated header
  bun.lock
  docs/ONBOARDING.md
  docs/timeline.md
  package.json
  src/components/app-header.tsx
  src/routeTree.gen.ts
  src/routes/_authenticated.tsx
  src/routes/_authenticated/_app.tsx
  src/routes/_authenticated/_app/dashboard.tsx
  src/routes/_authenticated/_app/onboarding.tsx
  src/routes/_authenticated/_app/problems.tsx
  src/routes/_authenticated/admin.tsx
  src/routes/_authenticated/onboarding.tsx
Due: oxlint, oxfmt

feat(groups): refactor groups page into atomic components with slug support
  docs/timeline.md
  package.json
  prisma/data/groups.json
  prisma/data/slugs.json
  prisma/migrations/20260527040000_group_slug/migration.sql
  prisma/migrations/20260527060000_drop_group_name_desc/migration.sql
  prisma/schema.prisma
  prisma/seed-groups.ts
  prisma/seed.ts
  src/components/ui/avatar.tsx
  src/features/dashboard/components/dashboard-page.tsx
  src/features/groups/components/group-card.tsx
  src/features/groups/components/group-filter-row.tsx
  src/features/groups/components/group-layout.tsx
  src/features/groups/components/group-settings.tsx
  src/features/groups/components/groups-header.tsx
  src/features/groups/components/groups-page.tsx
  src/features/groups/hooks/use-group.ts
  src/features/groups/types.ts
  src/features/onboarding/components/hash-avatar.tsx
  src/features/problems/components/filter-row.tsx
  src/features/problems/components/problem-row.tsx
  src/features/problems/components/topic-group.tsx
  src/features/problems/constants.ts
  src/features/problems/hooks/use-roadmap.ts
  src/routes/_authenticated/_app.tsx
  src/routes/_authenticated/_app/groups.tsx
  src/routes/_authenticated/_app/problems.tsx
  src/server/groups/groups.controller.ts
  src/server/groups/groups.dao.ts
  src/server/groups/groups.model.ts
  src/server/groups/groups.type.ts
  src/server/problems/problems.dao.ts
  src/server/problems/problems.type.ts
Due: oxlint, oxfmt

Changes
  GEMINI.md
Due: none

feat(core): add Trigger.dev, direct LeetCode verification, and groups polish
  .cta.json
  .gitignore
  bun.lock
  package.json
  prisma/migrations/20260529010000_remove_pending_verification_statuses/migration.sql
  prisma/schema.prisma
  prisma/seed-daily-problems.ts
  scripts/sync-env.ts
  src/components/auth-page.tsx
  src/env.ts
  src/features/dashboard/components/dashboard-page.tsx
  src/features/groups/components/group-card.tsx
  src/features/groups/components/group-problems-cell.tsx
  src/features/groups/hooks/use-group-problems.ts
  src/routes/_authenticated/_app/groups.tsx
  src/server/groups/groups.dao.ts
  src/server/lib/auth.ts
  src/server/lib/db.ts
  src/server/problems/problems.controller.ts
  src/server/problems/problems.dao.ts
  src/server/problems/problems.type.ts
  src/server/trigger/assign-daily-problem.ts
  src/server/trigger/example.ts
  src/server/trigger/reset-today-problems.ts
  trigger.config.ts
  tsconfig.json
Due: oxlint, oxfmt

enhance(server.controllers) adding authorization middleware
  GEMINI.md
  src/server/groups/groups.controller.ts
  src/server/lib/db.ts
  src/server/lib/sentry.ts
  src/server/lib/session.ts
  src/server/problems/problems.controller.ts
Due: oxlint, oxfmt

feat(daily-loop): complete groups + daily problem cron lifecycle
  docs/timeline.md
  src/emails/daily-problem.tsx
  src/features/dashboard/components/dashboard-page.tsx
  src/server/groups/groups.controller.ts
  src/server/groups/groups.dao.ts
  src/server/groups/groups.notifications.ts
  src/server/problems/problems.dao.ts
  src/server/problems/problems.notifications.ts
  src/server/problems/problems.type.ts
  src/server/trigger/assign-daily-problem.ts
  src/server/trigger/expire-join-requests.ts
  src/server/trigger/mark-missed.ts
  src/server/trigger/reset-monthly-pauses.ts
Due: oxlint, oxfmt

feat(timeline, styles, groups): update project setup and enhance group components
  docs/timeline.md
  src/features/groups/components/group-card.tsx
  src/features/groups/components/group-problems-cell.tsx
  src/features/problems/constants.ts
  src/styles.css
Due: oxlint, oxfmt

docs(points): add gamification model spec and fix brand casing
  AGENTS.md
  docs/POINTS.md
Due: oxfmt

enhance(auth): show skeleton while user menu loads
  src/components/user-menu.tsx
  src/server/lib/auth.ts
Due: oxlint, oxfmt

feat(app): add points economy and public problems
  bun.lock
  components.json
  docs/timeline.md
  package.json
  prisma/migrations/20260529010000_remove_pending_verification_statuses/migration.sql
  prisma/migrations/20260531172216_points_module/migration.sql
  prisma/schema.prisma
  src/components/app-header.tsx
  src/components/letter-glitch.tsx
  src/components/ui/confetti.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input-group.tsx
  src/components/ui/input.tsx
  src/components/ui/tabs.tsx
  src/components/user-menu.tsx
  src/features/dashboard/hooks/use-today-problem.ts
  src/features/groups/components/group-filter-row.tsx
  src/features/groups/components/group-problems-cell.tsx
  src/features/groups/components/group-problems-table.tsx
  src/features/groups/components/group-problems-tabs.tsx
  src/features/groups/components/solve-celebration-modal.tsx
  src/features/groups/types.ts
  src/features/home/components/floating-nav-pill.tsx
  src/features/home/components/header.tsx
  src/features/home/components/hero.tsx
  src/features/home/components/nav-items.tsx
  src/features/home/constants.ts
  src/features/onboarding/components/hash-avatar.tsx
  src/features/problems/components/filter-row.tsx
  src/routeTree.gen.ts
  src/routes/index.tsx
  src/routes/problems.tsx
  src/server/groups/groups.dao.ts
  src/server/lib/auth.ts
  src/server/points/points.dao.ts
  src/server/points/points.type.ts
  src/server/problems/problems.controller.ts
  src/server/problems/problems.dao.ts
  src/server/trigger/reset-monthly-counters.ts
  src/server/trigger/reset-monthly-pauses.ts
Due: oxlint, oxfmt

feat(badges): add badge system with streaks, solves, and roadmap awards
  package.json
  prisma/migrations/20260601054831_add_user_badges/migration.sql
  prisma/migrations/20260601064727_add_badge_types_phase1/migration.sql
  prisma/schema.prisma
  src/components/app-header.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/avatar.tsx
  src/emails/badge-earned.tsx
  src/emails/pro-unlocked-by-points.tsx
  src/emails/streak-milestone.tsx
  src/features/badges/components/badge-card.tsx
  src/features/badges/components/badge-category-section.tsx
  src/features/badges/components/badges-page.tsx
  src/features/badges/constants.ts
  src/features/badges/hooks/use-user-badges.ts
  src/features/dashboard/components/dashboard-page.tsx
  src/features/groups/components/group-problems-table.tsx
  src/features/groups/components/solve-celebration-modal.tsx
  src/features/groups/hooks/use-group-problems.ts
  src/features/groups/types.ts
  src/features/home/components/header.tsx
  src/routeTree.gen.ts
  src/routes/_authenticated.tsx
  src/routes/badges.tsx
  src/server/app.ts
  src/server/badges/badges.controller.ts
  src/server/badges/badges.dao.ts
  src/server/badges/badges.type.ts
  src/server/lib/auth.ts
  src/server/points/points.dao.ts
  src/server/problems/problems.controller.ts
  src/server/problems/problems.dao.ts
  src/server/problems/problems.notifications.ts
  src/server/problems/problems.type.ts
  src/server/users/users.dao.ts
  src/server/users/users.type.ts
Due: oxlint, oxfmt

chore(trigger): add production deploy workflow
  .github/workflows/release-trigger-prod.yml
  bun.lock
  docs/README.md
  docs/TRIGGER_GITHUB_ACTIONS.md
  package.json
  src/env.ts
  src/lib/api.ts
  src/lib/auth-client.ts
  src/server/admin/admin.emails.ts
  src/server/app.ts
  src/server/auth/auth.controller.ts
  src/server/lib/auth.ts
Due: oxlint, oxfmt

chore(cleanup): remove unused files and dependencies
  bun.lock
  knip.jsonc
  package.json
  src/components/app-search.tsx
  src/components/app-shared.tsx
  src/components/app-shell.tsx
  src/components/app-sidebar.tsx
  src/components/custom-trigger.tsx
  src/components/latest-change.tsx
  src/components/letter-glitch.tsx
  src/components/loading.tsx
  src/components/nav-user.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/confetti.tsx
  src/components/ui/kbd.tsx
  src/features/groups/components/groups-page.tsx
  src/features/home/constants.ts
  src/hooks/use-keypress.ts
  src/hooks/use-scroll.ts
  src/routes/index.tsx
Due: oxlint, oxfmt

fix(trigger): skip env validation in indexer and sync runtime vars on deploy
  .github/workflows/release-trigger-prod.yml
  package.json
  scripts/sync-gh.ts
  scripts/sync-trigger.ts
  src/env.ts
  trigger.config.ts
Due: oxlint, oxfmt

Path conditions:
  oxlint: any of: **/*.{ts,tsx,js,jsx}
  oxfmt: any of: **/*.{ts,tsx,js,jsx,json,md}
