Repository husamql3/pstrack: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt

oxlint:
  run: bunx oxlint --fix {staged_files} && git add {staged_files}

oxfmt:
  run: bunx oxfmt --write {staged_files} && git add {staged_files}

refactor(email): use Stalwart (single-container SMTP) instead of Postal
  .env.example
  AGENTS.md
  bun.lock
  docs/adr/0001-self-hosted-vps-deployment.md
  docs/adr/0013-self-hosted-email-postal.md
  docs/adr/0013-self-hosted-email.md
  docs/stack.md
  package.json
  src/env.ts
  src/server/lib/email.ts
Due: oxlint, oxfmt

test(stress): add concurrent reliability coverage
  docs/STRESS_TESTING.md
  package.json
  src/server/groups/groups.admin.dao.ts
  src/server/points/points.dao.test.ts
  src/server/points/points.dao.ts
  src/server/problems/problems.admin.dao.ts
  src/server/problems/problems.dao.ts
  src/server/problems/problems.roadmap.ts
  src/server/stress/api.stress.integration.test.ts
  src/server/stress/auth.stress.integration.test.ts
  src/server/stress/manifest.stress.integration.test.ts
  src/server/stress/trigger-modules.stress.integration.test.ts
  src/test/db.ts
  src/test/setup.ts
  src/test/stress-manifest.ts
  src/test/stress.ts
  vitest.config.ts
Due: oxlint, oxfmt

fix(jobs): restore durable app-owned execution
  .env.example
  .github/workflows/release-trigger-prod.yml
  docs/TRIGGER_GITHUB_ACTIONS.md
  docs/adr/0010-job-run-ledger-for-internal-jobs.md
  docs/stack.md
  package.json
  prisma/migrations/20260711203000_add_job_run_ledger/migration.sql
  prisma/schema.prisma
  scripts/reconcile-mark-missed.ts
  scripts/sync-trigger.ts
  src/env.ts
  src/server/app.ts
  src/server/jobs/job-runs.integration.test.ts
  src/server/jobs/job-runs.service.ts
  src/server/jobs/jobs.controller.test.ts
  src/server/jobs/jobs.controller.ts
  src/server/jobs/jobs.service.test.ts
  src/server/jobs/jobs.service.ts
  src/server/jobs/jobs.types.ts
  src/server/trigger/assign-daily-problem.ts
  src/server/trigger/dispatch-job.ts
  src/server/trigger/expire-admin-pro-grants.ts
  src/server/trigger/expire-join-requests.ts
  src/server/trigger/mark-missed.ts
  src/server/trigger/purge-system-events.ts
  src/server/trigger/reset-monthly-counters.ts
  src/server/trigger/reset-today-problems.ts
  src/server/trigger/send-daily-digest-batch.ts
  src/server/trigger/send-weekly-digest.ts
  src/server/trigger/trigger.test.ts
  src/test/db.ts
  src/test/setup.ts
  trigger.config.ts
Due: oxlint, oxfmt

test(integration): serialize shared database suites
  vitest.config.ts
Due: none

test(stress): add concurrent reliability coverage (#295)
  docs/STRESS_TESTING.md
  package.json
  src/server/groups/groups.admin.dao.ts
  src/server/points/points.dao.test.ts
  src/server/points/points.dao.ts
  src/server/problems/problems.admin.dao.ts
  src/server/problems/problems.dao.ts
  src/server/problems/problems.roadmap.ts
  src/server/stress/api.stress.integration.test.ts
  src/server/stress/auth.stress.integration.test.ts
  src/server/stress/manifest.stress.integration.test.ts
  src/server/stress/trigger-modules.stress.integration.test.ts
  src/test/db.ts
  src/test/setup.ts
  src/test/stress-manifest.ts
  src/test/stress.ts
  vitest.config.ts
Due: oxlint, oxfmt

fix(stress): update tests and manifest for durable job dispatch
  src/server/stress/trigger-modules.stress.integration.test.ts
  src/test/stress-manifest.ts
Due: oxlint, oxfmt

fix(stress): cover job dispatch endpoints and pass timestamp to scheduled tasks
  src/server/stress/api.stress.integration.test.ts
  src/server/stress/trigger-modules.stress.integration.test.ts
Due: oxlint, oxfmt

fix(jobs): restore durable app-owned execution (#296)
  .env.example
  .github/workflows/release-trigger-prod.yml
  docs/TRIGGER_GITHUB_ACTIONS.md
  docs/adr/0010-job-run-ledger-for-internal-jobs.md
  docs/stack.md
  package.json
  prisma/migrations/20260711203000_add_job_run_ledger/migration.sql
  prisma/schema.prisma
  scripts/reconcile-mark-missed.ts
  scripts/sync-trigger.ts
  src/env.ts
  src/server/app.ts
  src/server/jobs/job-runs.integration.test.ts
  src/server/jobs/job-runs.service.ts
  src/server/jobs/jobs.controller.test.ts
  src/server/jobs/jobs.controller.ts
  src/server/jobs/jobs.service.test.ts
  src/server/jobs/jobs.service.ts
  src/server/jobs/jobs.types.ts
  src/server/stress/api.stress.integration.test.ts
  src/server/stress/trigger-modules.stress.integration.test.ts
  src/server/trigger/assign-daily-problem.ts
  src/server/trigger/dispatch-job.ts
  src/server/trigger/expire-admin-pro-grants.ts
  src/server/trigger/expire-join-requests.ts
  src/server/trigger/mark-missed.ts
  src/server/trigger/purge-system-events.ts
  src/server/trigger/reset-monthly-counters.ts
  src/server/trigger/reset-today-problems.ts
  src/server/trigger/send-daily-digest-batch.ts
  src/server/trigger/send-weekly-digest.ts
  src/server/trigger/trigger.test.ts
  src/test/db.ts
  src/test/stress-manifest.ts
  trigger.config.ts
Due: oxlint, oxfmt

docs(audit): add production remediation handoff
  TODO.md
Due: none

docs(audit): add production remediation handoff (#297)
  TODO.md
Due: none

docs(audit): document production access paths
  TODO.md
Due: none

docs(audit): document production access paths (#298)
  TODO.md
Due: none

fix(env): fail fast on missing production config (#281)
  src/env.test.ts
  src/env.ts
Due: oxlint, oxfmt

fix(env): fail fast on missing production config (#281) (#300)
  src/env.test.ts
  src/env.ts
Due: oxlint, oxfmt

Add explicit Polar server override for staging
  package.json
  scripts/sync-vercel.ts
  src/env.ts
  src/server/lib/polar.ts
Due: oxlint, oxfmt

Remove build from pre-push hook
  lefthook.yml
Due: none

fix(points): reconcile cached totals from ledger (#280)
  docs/DECISIONS.md
  docs/POINTS.md
  docs/TRIGGER_GITHUB_ACTIONS.md
  docs/stack.md
  package.json
  scripts/reconcile-points.ts
  src/server/jobs/jobs.controller.ts
  src/server/jobs/jobs.service.test.ts
  src/server/jobs/jobs.service.ts
  src/server/jobs/jobs.types.ts
  src/server/points/points.dao.ts
  src/server/points/points.reconciliation.integration.test.ts
  src/server/points/points.reconciliation.ts
  src/server/points/points.repair-sql.integration.test.ts
  src/server/points/points.repair-sql.ts
  src/server/points/points.type.ts
  src/server/problems/daily-loop.integration.test.ts
  src/server/stress/api.stress.integration.test.ts
  src/server/stress/trigger-modules.stress.integration.test.ts
  src/server/trigger/reconcile-points.ts
  src/server/trigger/trigger.test.ts
  src/test/stress-manifest.ts
Due: oxlint, oxfmt

fix(points): reconcile cached totals from ledger (#280) (#303)
  docs/DECISIONS.md
  docs/POINTS.md
  docs/TRIGGER_GITHUB_ACTIONS.md
  docs/stack.md
  package.json
  scripts/reconcile-points.ts
  src/server/jobs/jobs.controller.ts
  src/server/jobs/jobs.service.test.ts
  src/server/jobs/jobs.service.ts
  src/server/jobs/jobs.types.ts
  src/server/points/points.dao.ts
  src/server/points/points.reconciliation.integration.test.ts
  src/server/points/points.reconciliation.ts
  src/server/points/points.repair-sql.integration.test.ts
  src/server/points/points.repair-sql.ts
  src/server/points/points.type.ts
  src/server/problems/daily-loop.integration.test.ts
  src/server/stress/api.stress.integration.test.ts
  src/server/stress/trigger-modules.stress.integration.test.ts
  src/server/trigger/reconcile-points.ts
  src/server/trigger/trigger.test.ts
  src/test/stress-manifest.ts
Due: oxlint, oxfmt

docs: record #283 recovery + retention decisions (ADR 0006 amendment)
  TODO.md
  docs/adr/0006-hourly-encrypted-database-backups.md
Due: oxfmt

docs: record #283 recovery + retention decisions (ADR 0006 amendment) (#304)
  TODO.md
  docs/adr/0006-hourly-encrypted-database-backups.md
Due: oxfmt

chore: harden release workflows
  .github/actions/setup/action.yml
  .github/workflows/auto-pr.yml
  .github/workflows/ci.yml
  .github/workflows/release-trigger-prod.yml
Due: none

chore: harden release workflows (#306)
  .github/actions/setup/action.yml
  .github/workflows/auto-pr.yml
  .github/workflows/ci.yml
  .github/workflows/release-trigger-prod.yml
Due: none

Harden Coolify production deploys
  .github/workflows/ci.yml
  docs/adr/0007-prebuilt-ghcr-images-for-coolify-deployments.md
  scripts/deploy-coolify.ts
  scripts/rollback-coolify.ts
  scripts/smoke-prod.ts
  src/server/modules/health.test.ts
  src/server/modules/health.ts
Due: oxlint, oxfmt

Harden Coolify production deploys (#307)
  .github/workflows/ci.yml
  docs/adr/0007-prebuilt-ghcr-images-for-coolify-deployments.md
  scripts/deploy-coolify.ts
  scripts/rollback-coolify.ts
  scripts/smoke-prod.ts
  src/server/modules/health.test.ts
  src/server/modules/health.ts
Due: oxlint, oxfmt

feat(staging): isolate Vercel environment
  .env.example
  .github/workflows/ci.yml
  docs/BRANCHING.md
  docs/STAGING.md
  docs/adr/0012-branch-mapped-production-and-staging-domains.md
  package.json
  prisma/seed-groups.ts
  scripts/smoke-stage.ts
  scripts/sync-vercel.ts
  src/env.test.ts
  src/env.ts
  src/server/lib/email.test.ts
  src/server/lib/email.ts
  src/server/modules/health.test.ts
  src/server/modules/health.ts
Due: oxlint, oxfmt

fix(staging): verify canonical deployment
  .github/workflows/ci.yml
  .gitignore
  scripts/smoke-stage.ts
Due: oxlint, oxfmt

feat(staging): isolate Vercel environment (#308)
  .env.example
  .github/workflows/ci.yml
  .gitignore
  docs/BRANCHING.md
  docs/STAGING.md
  docs/adr/0012-branch-mapped-production-and-staging-domains.md
  package.json
  prisma/seed-groups.ts
  scripts/smoke-stage.ts
  scripts/sync-vercel.ts
  src/env.test.ts
  src/env.ts
  src/server/lib/email.test.ts
  src/server/lib/email.ts
  src/server/modules/health.test.ts
  src/server/modules/health.ts
Due: oxlint, oxfmt

fix(ci): clear stale outputDirectory before Vercel staging build
  .github/workflows/ci.yml
Due: none

fix(ci): fix the output dir dist
  .github/workflows/ci.yml
Due: none

fix(groups): retry admin group create on slug collision
  src/server/groups/groups.admin.dao.ts
Due: oxlint, oxfmt

feat(analytics): add prod-only PostHog setup
  .env.example
  bun.lock
  package.json
  src/env.ts
  src/lib/posthog.ts
  src/router.tsx
Due: oxlint, oxfmt

docs: update Coolify admin URL
  docs/adr/0007-prebuilt-ghcr-images-for-coolify-deployments.md
  docs/adr/0012-branch-mapped-production-and-staging-domains.md
Due: oxfmt

docs: update Coolify admin URL (#310)
  docs/adr/0007-prebuilt-ghcr-images-for-coolify-deployments.md
  docs/adr/0012-branch-mapped-production-and-staging-domains.md
Due: oxfmt

feat(analytics): add prod-only PostHog setup (#309)
  .env.example
  bun.lock
  package.json
  src/env.ts
  src/lib/posthog.ts
  src/router.tsx
Due: oxlint, oxfmt

feat(email): add self-hosted SMTP (Stalwart) transport
  .env.example
  bun.lock
  docs/adr/0013-self-hosted-email.md
  docs/stack.md
  package.json
  src/env.test.ts
  src/env.ts
  src/server/jobs/jobs.service.ts
  src/server/lib/email.test.ts
  src/server/lib/email.ts
Due: oxlint, oxfmt

feat(email): add self-hosted SMTP (Stalwart) transport (#311)
  .env.example
  bun.lock
  docs/adr/0013-self-hosted-email.md
  docs/stack.md
  package.json
  src/env.test.ts
  src/env.ts
  src/server/jobs/jobs.service.ts
  src/server/lib/email.test.ts
  src/server/lib/email.ts
Due: oxlint, oxfmt

fix(ci): retry transient staging smoke failures
  scripts/smoke-http.ts
  scripts/smoke-stage.ts
  src/test/smoke-http.test.ts
Due: oxlint, oxfmt

fix(ci): retry transient staging smoke failures (#312)
  scripts/smoke-http.ts
  scripts/smoke-stage.ts
  src/test/smoke-http.test.ts
Due: oxlint, oxfmt

Path conditions:
  oxlint: any of: **/*.{ts,tsx,js,jsx}
  oxfmt: any of: **/*.{ts,tsx,js,jsx,json,md}
